<h3 class="mt-5">فرم ثبت نام</h3>
<div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
    <div class="form-group">
      <label for="username">نام کاربری</label>
      <input class="form-control" type="text" formControlName="username" id="username">
    </div>
    <div class="form-group">
      <label for="email">ایمیل</label>
      <input class="form-control" type="email" formControlName="email" id="email">
    </div>
    <div class="form-group">
      <label for="password1">پسورد ۱</label>
      <input class="form-control" type="text" formControlName="password1" id="password1">
    </div>
    <div class="form-group">
      <label for="password2">پسورد ۲</label>
      <input class="form-control" type="text" formControlName="password2" id="password2">
    </div>
    <button class="btn btn-dark" type="submit">ثبت نام</button>
  </form>
</div>
