<h3 class="mt-5">فرم اصلاح محصول</h3>
<div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
    <div class="form-group">
      <label for="name">نام</label>
      <input class="form-control" type="text" formControlName="name" id="name">
    </div>
    <div class="form-group">
      <label for="price">قیمت</label>
      <input class="form-control" formControlName="price" id="price">
    </div>
    <button class="btn btn-dark" type="submit">ثبت</button>
    <a class="btn btn-secondary" routerLink="/products/">
      بازگشت
    </a>
  </form>
</div>
