<h3 class="mt-5">لیست محصولات</h3>
<table class="table" *ngIf="products; else noProducts">
  <caption>لیست محصولات</caption>
  <thead>
  <tr>
    <th scope="col">عملیات</th>
    <th scope="col">قیمت</th>
    <th scope="col">محصول</th>
    <th scope="col">#</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products ">
    <td>
      <a class="btn btn-dark btn-sm" routerLink="/products/{{product?.id}}/edit">
        اصلاح
      </a>
    </td>
    <td>{{product.price}}</td>
    <td>{{product.name }}</td>
    <th scope="row">{{product.id}}</th>
  </tr>
  </tbody>
</table>
<ng-template #noProducts>
  هیچ محصولی وجود ندارد
</ng-template>
