<div class="mt-5">
  <div class="form-group">
    <label for="cityList"></label>
    <select
      name="cityList"
      id="cityList"
      class="form-control"
      [(ngModel)]="selectedCity"
      [value]='0'
      (change)='onOptionsSelected()'
    >
      <option *ngFor="let city of cityList" [value]="city.id">{{ city.name }}</option>
    </select>
  </div>
<!--  <form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm.value)">-->
<!--    <button class="btn btn-dark" type="submit">ثبت آدرس</button>-->
<!--  </form>-->
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="9"
    (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
  >
    <agm-marker
      *ngFor="let marker of markers"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [opacity]="marker.alpha"
      [markerDraggable]="true"
      (markerClick)="selectMarker($event)"
    >
    </agm-marker>
    <agm-rectangle
      [north]="max('lat')"
      [east]="max('lng')"
      [south]="min('lat')"
      [west]="min('lng')"
    >
    </agm-rectangle>
  </agm-map>
  <p *ngIf="selectedMarker">
    Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
  </p>


</div>
